.bp{
    display: flex;
    background-color: rgb(240, 238, 238);
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;

}
.hn{
    font-size: 50px;
    font-weight: 700;
    color: rgb(21, 15, 50);
    padding: 20px 0px;

}
.pl{
    
    text-align: center;
    font-size: 30px;
}